# Copyright (C) 2013 NVIDIA Corporation.  All Rights Reserved.
# Copyright (C) 2019 The LineageOS Project
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.

# TLK storage service
service tlk_daemon /vendor/bin/tlk_daemon --storagedir /data
    class main
    user root
    group keystore
    oneshot

# ss_status
#
# One shot command that queries status of secure storage.
#
service ss_status /vendor/bin/run_ss_status.sh
    class main
    group keystore
    oneshot

on post-fs-data
    mkdir /data/tlk 0700 system keystore
    mkdir /data/ss 0700 system keystore
